@media all and (min-width: 1024px) and (max-width: 1980px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;  
        min-height: 700px;
        min-width: 600px;
    }
    
    .main__container {
        display: block;
    }
    
    .welcome {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;  
        min-height: 700px;
        background-color: #fdd262;
    }
    
    .welcome__header {
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        font-size: 21px;
        line-height: 23px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .team {
        letter-spacing: 5px;
    }
    
    .welcome__message {
        text-align: justify;
        margin-left: $xl-size;
        margin-right: $xl-size;
        font-family: 'Roboto', sans-serif;
        width: 50%;
    }
    
    .image1__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;  
        min-height: 700px;
        background-color: #446455;
    }
    
    .image2__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;  
        min-height: 700px;
        background-color: #d3dddc
        ;
    }
    
    .image1 {
        width: 40%;
    }
    
    .team_description {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
    
    .header__links__container {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    
    .header__link {
        color: #919191;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }
    
    .header__link:hover {
        color: #444444;
    }
    
    .logo {
        max-height: 50%;
        width: 40%;
        padding-bottom: 80px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { 

}

@media all and (max-width: 480px) and (max-width: 768px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;  
        min-height: 670px;
    }
    
    .main__container {
        display: block;
    }
    
    .welcome {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;  
        min-height: 670px;
        background-color: #fdd262;
    }
    
    .welcome__header {
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 0px;
    }

    .welcome__header__jazz {
        margin: 0;
        font-family: 'Mr De Haviland';
    }
    
    .team {
        letter-spacing: 5px;
    }
    
    .welcome__message {
        text-align: justify;
        margin-left: $xl-size;
        margin-right: $xl-size;
        font-family: 'Quattrocento', sans-serif;
    }
    
    .image1__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;  
        min-height: 670px;
        background-color: #446455;
    }

    .image1__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image2__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;  
        min-height: 670px;
        background-color: #d3dddc
        ;
    }

    .image3__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;  
        min-height: 670px;
        background-color: #85d4e3;
    }

    .coaches__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }

    .coach__image {
        width: 30%;
    }
    
    .image1 {
        width: 70%;
    }
    
    .team_description {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
    
    .header__links__container {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    
    .header__link {
        color: #919191;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }
    
    .header__link:hover {
        color: #444444;
    }
    
    .logo {
        max-height: 50%;
        width: 40%;
        padding-bottom: 80px;
    }
}