footer {
    padding: 3.2rem;
    // border-top: 1px solid #919191;
}

.footer__links {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.links__logo {
    padding: 5px;
    padding-right: 10px;
}

.links__container {
    display: flex;
    align-items: center;
}
