.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: $l-size;
    margin-bottom: 0;
}

.header__links__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.header__link {
    color: #919191;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.header__link:hover {
    color: #444444;
}

.logo {
    max-height: 50%;
    width: 150px;
}

@media (min-width: $desktop-breakpoint) {

    .header__links__container {
        padding-bottom: $l-size;
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    
    .header__link {
        color: #919191;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }
    
    .header__link:hover {
        color: #444444;
    }
    
    
    .logo {
        max-height: 50%;
        width: 300px;
    }
}

