// .header {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     margin: $l-size;
//     margin-bottom: 0;
// }


//iphone
@media (min-height: 520px) {
    .header {
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 670px;
}

.main__container {
    display: block;
}

.welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    min-height: 670px;
    background-color: #fdd262;
}

.welcome__header {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.team {
    letter-spacing: 5px;
}

.welcome__message {
    text-align: justify;
    margin-left: $xl-size;
    margin-right: $xl-size;
    font-family: 'Roboto', sans-serif;
}

.image1__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    min-height: 670px;
    background-color: #446455;
}

.image2__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    min-height: 670px;
    background-color: #d3dddc;
}

.image1 {
    width: 70%;
}

.team_description {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.header__links__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.header__link {
    color: #919191;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.header__link:hover {
    color: #444444;
}

.logo {
    max-height: 50%;
    width: 40%;
}
}

// @media (min-width: $desktop-breakpoint) {

//     .header__links__container {
//         padding-bottom: $l-size;
//         width: 50%;
//         display: flex;
//         justify-content: space-between;
//     }
    
//     .header__link {
//         color: #919191;
//         -o-transition:.5s;
//         -ms-transition:.5s;
//         -moz-transition:.5s;
//         -webkit-transition:.5s;
//         transition:.5s;
//     }
    
//     .header__link:hover {
//         color: #444444;
//     }
    
    
//     .logo {
//         max-height: 50%;
//         width: 300px;
//     }
// }

