.app-header {
    background-color: black;
    position: fixed;
    min-height: 100px;
    
}

.app-header__logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.app-header__logo {
    width: 20%;
    display: flex;
}

.first-block {
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 670px;
    flex-direction: column;
    background-color: black;
}

.first-block__message {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: white;
}

.arrow {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}

.arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}