html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 1.6rem;

}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}

a {
    text-decoration: none;
    color:black;
}

.content {
    margin: 3.2rem;
    flex: 1;
    margin-top: 0;
}